{{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.author) }}
        {{ form_row(form.content) }}
        {{ form_row(form.ispublished) }}
    
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save" aria-hidden="true"></i> Edit Book
        </button>
       
        <a href="{{ path('books_index') }}" class="btn btn-link">
            <i class="fa fa-list-alt" aria-hidden="true"></i> Back to list
        </a>
    {{ form_end(form) }}
    
    
    
