{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_new' %}

{% block main %}
    <h1>Register new User / Author User</h1>

    {{ form_start(form) }}
        {{ form_row(form.fullName) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.is_author) }}

        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save" aria-hidden="true"></i> Create User
        </button>
       
        <a href="{{ path('admin_user_index') }}" class="btn btn-link">
            <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_list'|trans }}
        </a>
    {{ form_end(form) }}
{% endblock %}
{% block sidebar %}
{% endblock %}
